primary = #3b4351
primary-light = lighten(primary, 30)
primary-dark = darken(primary, 20)
danger = #e24328
background = #fff
background-dark = darken(background, 3%)
sidebar-background = #f7f8f9
success = #27ae60
warning = #DBA42A